<p id="notice"><%= notice %></p>

<h1>Umfragen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
      <!-- <th>Status</th>
      <th>Started at</th>
      <th>Concluded at</th> -->
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.order(:name).reverse_order.each do |poll| %>
      <tr>
        <td><%= poll.name %></td>
        <td><%= poll.description %></td>
        <!-- <td><%= poll.status %></td>
        <td><%= poll.started_at %></td>
        <td><%= poll.concluded_at %></td>
        <<td><%= link_to 'Anzeigen', poll %></td>-->
        <td><%= link_to 'Ändern', edit_poll_path(poll) %></td>
        <td><%= link_to 'Löschen', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Abstimmen', votes_polls_path(poll) %></td>
        <td><%= link_to 'Ergebnisse', results_polls_path(poll) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Umfrage', new_poll_path %>
