<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poll.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @poll.description %>
</p>

<!-- <p>
  <strong>Status:</strong>
  <%= @poll.status %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @poll.started_at %>
</p>

<p>
  <strong>Concluded at:</strong>
  <%= @poll.concluded_at %>
</p> -->

<%= link_to 'Ändern', edit_poll_path(@poll) %> |
<%= link_to 'Zurück', polls_path %>
