<%= form_with(local: true) do |form| %>
  <!-- TODO: better error handling. Oh my God, this gets all so ugly so fast. -->
  <p id="notice" style="color: red !important"><%= notice %></p>

  <h1>F체r '<%= @poll.name %>' abstimmen</h1>

  <div class="field">
    <%= form.label :voter_id %>
    <%= form.collection_select(:voter_id, Voter.order(:name), :id, :name, :prompt => 'Bitte w채hlen') %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Ort</th>
        <th>Pr채ferenz</th>
      </tr>
    </thead>
    <tbody>
      <% @items.order(:name).each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td>
            <div class="field">
              <!-- TODO: This is so super bad code style. But I don't know what the "rails way" would be like -->
              <%= form.radio_button("preference_#{item.id}".to_sym, :very_positive, id: "preference_very_positive_#{item.id}".to_sym) %>
              <label for="<%= "preference_very_positive_#{item.id}" %>"><%= translate_preference(:very_positive) %></label>
              
              <%= form.radio_button("preference_#{item.id}".to_sym, :positive, id: "preference_positive_#{item.id}".to_sym) %>
              <label for="<%= "preference_positive_#{item.id}" %>"><%= translate_preference(:positive) %></label>
              
              <%= form.radio_button("preference_#{item.id}".to_sym, :neutral, id: "preference_neutral_#{item.id}".to_sym) %>
              <label for="<%= "preference_neutral_#{item.id}" %>"><%= translate_preference(:neutral) %></label>
              
              <%= form.radio_button("preference_#{item.id}".to_sym, :negative, id: "preference_negative_#{item.id}".to_sym) %>
              <label for="<%= "preference_negative_#{item.id}" %>"><%= translate_preference(:negative) %></label>
              
              <%= form.radio_button("preference_#{item.id}".to_sym, :very_negative, id: "preference_very_negative_#{item.id}".to_sym) %>
              <label for="<%= "preference_very_negative_#{item.id}" %>"><%= translate_preference(:very_negative) %></label>

              <!-- TODO: Maybe use toggleable buttons instead? -->
              <span style="background: purple">
                <%= form.radio_button("preference_#{item.id}".to_sym, :none, id: "preference_none_#{item.id}".to_sym, checked: true) %>
                <label for="<%= "preference_none_#{item.id}" %>">Enthalten</label>
              </span>
          </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <table>

  <div class="actions">
    <%= form.submit 'Speichern', :class => 'waves-effect waves-light btn' %>

    <%= link_to 'Zur체ck', polls_path %>
  </div>
<% end %>