<div class="row">
  <%= form_with(model: item, local: true) do |form| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s6">
        <%= form.text_field :name, id: :item_name %>
        <%= form.label :name %>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s6">
        <%= form.text_area :description, id: :item_description, class: "materialize-textarea" %>
        <%= form.label :description %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit 'Speichern', :class => "waves-effect waves-light btn" %>
    </div>
  <% end %>
</div>