<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :voter_id %>
    <%= form.collection_select(:voter_id, Voter.order(:name), :id, :name, :prompt => 'Bitte wählen') %>
  </div>

  <div class="field">
    <%= form.label :poll_id %>
    <%= form.collection_select(:poll_id, Poll.order(:name), :id, :name, :prompt => 'Bitte wählen') %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.collection_select(:item_id, Item.order(:name), :id, :name, :prompt => 'Bitte wählen') %>
  </div>

  <div class="field">
    <%= form.radio_button(:preference, :very_positive, id: :preference_very_positive) %>
    <label for="preference_very_positive"><%= translate_preference(:very_positive) %></label>
    
    <%= form.radio_button(:preference, :positive, id: :preference_positive) %>
    <label for="preference_positive"><%= translate_preference(:positive) %></label>
    
    <%= form.radio_button(:preference, :neutral, id: :preference_neutral, checked: true) %>
    <label for="preference_neutral"><%= translate_preference(:neutral) %></label>
    
    <%= form.radio_button(:preference, :negative, id: :preference_negative) %>
    <label for="preference_negative"><%= translate_preference(:negative) %></label>
    
    <%= form.radio_button(:preference, :very_negative, id: :preference_very_negative) %>
    <label for="preference_very_negative"><%= translate_preference(:very_negative) %></label>
  </div>

  <div class="actions">
    <%= form.submit 'Speichern', :class => 'waves-effect waves-light btn' %>
  </div>

  Poll Id: <%= @poll_id %><br />
  Item Id: <%= @item_id %>
<% end %>
