<p id="notice"><%= notice %></p>

<h1>Abstimmungen</h1>

<table>
  <thead>
    <tr>
      <th>Umfrage</th>
      <th>Item</th>
      <th>Wähler</th>
      <th>Präferenz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= get_poll_for_proposal(vote.proposal).name %></td>
        <td><%= get_item_for_proposal(vote.proposal).name %></td>
        <td><%= vote.voter.name %></td>
        <td><%= translate_preference vote.preference %></td>
        <td><%= link_to 'Anzeigen', vote %></td>
        <td><%= link_to 'Editieren', edit_vote_path(vote) %></td>
        <td><%= link_to 'Löschen', vote, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Abstimmung', new_vote_path %>
