<p id="notice"><%= notice %></p>

<h1>Abstimmungen</h1>

<div class="row">
  <div class="col s12 m4 offset-m4">
    <div class="card amber">
      <div class="card-image">
        <!-- <img src="http://s2.quickmeme.com/img/fa/fa6eb20c1de5f0b0378e7bdef21845fcc47e5504a01f5c827e78fbb3ae907e03.jpg"> -->
        <img src="http://i.imgur.com/WN8iGfd.png">
      </div>
      <div class="card-content">
        <span class="card-title">Hinweis</span>
        <p>Dieser Bereich wird bald entfernt werden.</p>
        <p>Bitte unter '<%= link_to 'Umfragen', polls_path %>' abstimmen und dort die Ergebnisse einsehen!</p>
      </div>
    </div>
  </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Umfrage</th>
      <th>Item</th>
      <th>Wähler</th>
      <th>Präferenz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= get_poll_for_proposal(vote.proposal).name %></td>
        <td><%= get_item_for_proposal(vote.proposal).name %></td>
        <td><%= vote.voter.name %></td>
        <td><%= translate_preference vote.preference %></td>
        <td><%= link_to 'Anzeigen', vote %></td>
        <td><%= link_to 'Editieren', edit_vote_path(vote) %></td>
        <td><%= link_to 'Löschen', vote, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Abstimmung', new_vote_path %> -->
